<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Website CSS style -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/create-new-user.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <title>Admin</title>
</head>

<body>
    <div class="container">
        <div class="row main">
            <div class="main-login main-center">
                <h5>Fill up user details</h5>
                <form class="" method="post" action="/users/create">

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Full Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user fa" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter Full Name" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope fa" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email ID" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="mobile" class="cols-sm-2 control-label">Mobile Number</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone fa" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Enter Mobile Number" />
                            </div>
                        </div>
                    </div>
                    <!-- Multiple Radios (inline) -->
                    <div class="form-group">
                        <label class="cols-sm-2 control-label" for="gender">Genger</label>
                        <div class="cols-sm-10">
                            <label class="radio-inline" for="gender-0">
                                <input name="gender" id="gender-0" value="M" checked="checked" type="radio"> Male
                            </label>
                            <label class="radio-inline" for="gender-1">
                                <input name="gender" id="gender-1" value="F" type="radio"> Female
                            </label>
                        </div>
                    </div>


                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="cols-sm-2 control-label" for="textarea">Permananet Address</label>
                        <div class="cols-sm-10">
                            <textarea class="form-control" id="textarea" name="address"></textarea>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button id="button" name="singlebutton" class="btn btn-primary btn-lg btn-block login-button">Submit Details</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>